.article-title {
  font-weight: lighter;
  /* padding: 10px; */
  padding: 2 0;
}

.article-desc {
  /* padding: 10px; */
  height: 96px;
}

.article-author {
  margin: 1em;
}

.article-author-name {
  padding: 1em;
  color: #333;
  /* font-weight: lighter; */
  margin-right: 1rem;
  font-size: 15px;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-buttons {
  margin: 3em;
}

.delete-button {
  margin: 2em;
}

.read_time {
  font-weight: lighter;
  margin-left: 53px;
}

.article-stats {
  margin-top: -12px;
}

.articles-stats {
  font-weight: lighter;
}

.articles-stats .react-rater {
  font-size: 1.2rem;
}

.articles-stats .read-time {
  color: #5a5a5a;
}

.article-tags {
  position: fixed;
}

.react-rater {
  font-size: 1.2rem;
}

.score {
  font-size: 1.4em;
  font-weight: lighter !important;
}
.rate-title{
  font-size: 21px !important;
  font-weight: 200 !important;
}