.frame {
  position: fixed;
  left: 0;
  top: 90;
  right: 0;
  background-color: rgb(252, 252, 252);
  margin: auto;
  max-width: 600px;
  width: 100%;
  height: auto;
  z-index: 1000;
  overflow: scroll;
}

.closeicon {
  float: right;
  cursor: pointer;
}
