.full-width {
  width: 100%;
  margin-bottom: 30px;
}

.submit-comment {
  left: 85%;
}

.comment-form {
  padding: 20px;
}

.show-comment:hover {
  background-color: #fc8b01;
  color: white;
}

.buttons-container {
  display: flex;
  justify-content: center;
}
